/* 
    Example of trying to use typical CSS files to
    style MUI React Components
    Note: Doesn't worK, since unstable
*/

/* Styling size of stories section icons */
.AvatarSize {
    width: 53px;
    height: 53px;
}



.MuiAvatar-root {
    width: 5px;
    height: 5px;
}